<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All Users
    </h1>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          User
        </th>
      </tr>

      <% @users.each do |user| %>
      <tr>
        <td>
          <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>
        </td>

        

        <td>
          
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
